@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: 'TestFont';
    src: url('AaCute.woff') format('woff');
    font-display: swap;
}

body {
    font-family: 'TestFont', sans-serif !important;
}

::-webkit-scrollbar {
    display: none;  /* Chrome/Safari/Edge */
}
